.person.ng-enter {
    -webkit-animation: flipInX 0.5s;
    animation: flipInX 0.5s;
}

.person.ng-leave-stagger {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

.person.ng-leave {
    -webkit-animation: flipOutX 0.5s;
    animation: flipOutX 0.5s;
}
