<div ng-controller="DirectoryCtrl" ng-app="nulogyFacePageApp">

  <select ui-select2 ng-model="selectedProject">
    <option ng-repeat="project in projects">{{ project.name }}</option>
  </select>

  <ul class="person-list">
    <li class="person" ng-repeat="employee in employees">
    <img ng-src="images/{{ employee.displayPicturePath && employee.displayPicturePath || 'http://api.randomuser.me/0.3.1/portraits/men/2.jpg' }}" alt="" class="person-image">
    <p class="person-name">{{ employee.firstName }} {{ employee.lastName }}</p>
    <p class="person-team">{{ employee.department }}</p>
    </li>
  </ul>
</div>
<!--<div id="employee-directory-container" class="container" ng-app="nulogyFacePageApp" ng-controller="DirectoryCtrl">
  <select ui-select2 ng-model="selectedProject">
    <option ng-repeat="project in projects">{{ project.name }}</option>
  </select>
  <ul>
    <li>

      <div class="panel panel-default panel-primary" ng-repeat="employee in employees">
        <div class="panel-heading panel-task-heading">
          {{ employee.firstName }} {{ employee.lastName }}
        </div>

        <div class="panel-body">
	  <img ng-src="images/display_pictures/{{ employee.displayPicturePath }}">
        </div>

        <div class="panel-footer">
          {{ employee.email }}
        </div>
      </div>

    </li>
  </ul>
</div>-->
