<div ng-controller="DirectoryCtrl" ng-app="nulogyFacePageApp">

  <form role="form" ng-keyup="$event.keyCode == 13 ? filterEmployees() : null">
    <select multiple ui-select2="select2Options" ng-model="selectedProjects">
      <option ng-repeat="project in projects">{{ project.name }}</option>
    </select>
  </form>

  <ul class="person-list">
    <li class="person" ng-repeat="employee in employees">
    <img ng-src="{{ employee.displayPicturePath && 'images/' + employee.displayPicturePath || 'http://api.randomuser.me/0.3.1/portraits/men/2.jpg' }}" alt="" class="person-image">
    <p class="person-name">{{ employee.firstName }} {{ employee.lastName }}</p>
    <p class="person-team">{{ employee.department }}</p>
    </li>
  </ul>
</div>
