<div id="employee-directory-container" class="container" ng-app="nulogyFacePageApp" ng-controller="DirectoryCtrl">
  <ul>
    <li>

      <div class="panel panel-default panel-primary" ng-repeat="employee in employees">
        <div class="panel-heading panel-task-heading">
          {{ employee.firstName }} {{ employee.lastName }}
        </div>

        <div class="panel-body">
          {{ employee.department }}
        </div>

        <div class="panel-footer">
          {{ employee.email }}
        </div>
      </div>

    </li>
  </ul>
</div>
