<div ng-controller="DirectoryCtrl" ng-app="nulogyFacePageApp">

    <select multiple ui-select2="select2Options" ng-model="selectedProjects" ng-change="filterEmployees()" style="width: 100%">
      <optgroup label="Projects">
        <option ng-repeat="project in projects">{{ project.name }}</option>
      </optgroup>
      <optgroup label="Customers">
        <option ng-repeat="customer in customers">{{ customer.name }}</option>
      </optgroup>
    </select>

  <ul class="person-list">
    <li class="person" ng-repeat="employee in employees">
    <img ng-src="{{ employee.displayPicturePath && 'images/' + employee.displayPicturePath || 'http://api.randomuser.me/0.3.1/portraits/men/2.jpg' }}" alt="" class="person-image">
    <p class="person-name">{{ employee.firstName }} {{ employee.lastName }}</p>
    <p class="person-team">{{ employee.department }}</p>
    </li>
  </ul>
</div>
